[submodule "ecc"]
	path = ecc
	url = https://github.com/Engineering-Research-and-Development/true-connector-execution_core_container
[submodule "usage control"]
	path = uc
	url = https://github.com/Engineering-Research-and-Development/true-connector-uc_data_app
